POSTGRES_USER=frog
POSTGRES_PASSWORD=frog
POSTGRES_DB=frogdb

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=frog-photos

SECRET_KEY=change-me-to-something-secret
ACCESS_TOKEN_EXPIRE_MINUTES=60
